@charset "utf-8";
 
#kontaktForm {
    width: 50%;
    
} 

#kontaktForm fieldset {
    border-radius: 4px;
    background: #F3F3F3;
    border: 2px solid black;
}

#kontaktForm legend {
    padding: 10px;
    color: aqua;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
}

/*
#kontaktForm label {
    width: 100px;
    display: inline-block;
}*/

#kontaktForm p {
    display: flex;
    flex-flow: column;
    

}

#kontaktForm textarea {
    width: 99%;
    min-height: 100px;
    resize: none;
}

#kontaktForm input[type="text"]::placeholder {
    color: orange;
}

#kontaktForm input {
    transition: all .5s;
}

#kontaktForm input:focus{
    outline: none;
}