body {
    background-image: url(https://st4.depositphotos.com/4315033/20452/v/1600/depositphotos_204523116-stock-illustration-background-dots-halftone-dots-design.jpg);
}

.wrapper {
    width: 80%;
    min-height: 600px;
    border: 1px solid gray;
    margin: auto;
}

nav {
    height: 50px;
    background: red;
}

nav ul {
    display: flex;
    justify-content: space-between; /* main axis */
    flex-flow: row;
    height: 100%;
    align-items: center;  /* cross axis */
    margin: 0;
    
}

nav ul li {
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-family: "courier";
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 18px;
}

nav ul li a:hover {
     background: rgba(0, 0,0, 0.5);
}

main {
    min-height: 400px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: minmax(200px, auto) 100px;
    grid-template-areas: "left mid right""bottom bottom bottom";
}
.left {
     background: #2ecc71;
     grid-area: left;
}
.mid {
     background: #f39c12;
     grid-area: mid;
}
.right {
      background: #e74c3c;
      grid-area: right;
}
.bottom {
    background: #16a085;
    grid-area: bottom;
}
footer {
    height: 150px;
    background: #e74c3c;
}
footer p{

}