body {
    background-image: url(../images/jessica-lewis-562515-unsplash.jpg);
    background-repeat: repeat;
    
}
header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
}
img.logo {
    height: 100px;
    width: 100px;
}
main {
    margin-left: auto;
    margin-bottom: 315px;
    width: 500px;
    height: 180px;
}
h1 {
  display: flex;
  justify-content: center;
}

input {
    margin-left: 50px;
    background: transparent;
    
    
    
}
textarea {
    display: flex;
    margin-left: 110px;
    margin-top: 15px;
    resize: none;
    width: 300px;
    height: 200px;
    background: transparent;
    
}
button {
    margin-left: 230px;
    margin-top: 20px;
    margin-top: auto;
}

nav.meny {
    display: flex;
    width: 40%;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 14px;
    text-transform: uppercase;
    background: transparent;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid black;
}
ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}
li {
    margin: 10px;
}
    
button.fyra {
    text-decoration: none;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    background: #f73600;;
    padding: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    border: 1px solid #f73600;  
}

nav a:hover {
background: chocolate;
color: black;
}
::placeholder {
    color: black;
}
footer {
    height: 26px;
}